For this assignment you'll be looking at 2017 data on immunizations from the CDC. Your datafile for this assignment is in assets/NISPUF17.csv. A data users guide for this, which you'll need to map the variables in the data to the questions being asked, is available at assets/NIS-PUF17-DUG.pdf. Note: you may have to go to your Jupyter tree (click on the Coursera image) and navigate to the assignment 2 assets folder to see this PDF file).

Write a function called proportion_of_education which returns the proportion of children in the dataset who had a mother with the education levels equal to less than high school (<12), high school (12), more than high school but not a college graduate (>12) and college degree.

In [1]:
import pandas as pd
data = pd.read_csv("NISPUF17.csv")
data.head()

,Unnamed: 0,SEQNUMC,SEQNUMHH,PDAT,PROVWT_D,RDDWT_D,STRATUM,YEAR,AGECPOXR,HAD_CPOX,...,XVRCTY2,XVRCTY3,XVRCTY4,XVRCTY5,XVRCTY6,XVRCTY7,XVRCTY8,XVRCTY9,INS_STAT2_I,INS_BREAK_I
0,1,128521,12852,2,NaN,235.916956,1031,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,10741,1074,2,NaN,957.353840,1068,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,220011,22001,2,NaN,189.611299,1050,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,86131,8613,1,675.430817,333.447419,1040,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
4,5,227141,22714,1,482.617748,278.768063,1008,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0

In [2]:
data["EDUC1"].unique()

array([4, 3, 1, 2], dtype=int64)

In [3]:
data["EDUC1"].head()

0    4
1    3
2    3
3    4
4    1
Name: EDUC1, dtype: int64

Example of multiple observation counting and dictionary return.

In [4]:
def proportion_of_education():
    import pandas as pd
    data = pd.read_csv("NISPUF17.csv")
    count1 = 0
    count2 = 0
    count3 = 0
    count4 = 0
    for num, values in data["EDUC1"].iteritems():
        if (values==1):
            count1 +=1
        if(values==2):
            count2 +=1
        if (values==3):
            count3+=1
        if (values==4):
            count4+=1
    tcount=len(data["EDUC1"])
    acount={"less than high school":count1/tcount,
          "high school":count2/tcount,
          "more than high school but not college":count3/tcount,
          "college":count4/tcount}
    return acount

In [5]:
proportion_of_education()

{'less than high school': 0.10202002459160373,
 'high school': 0.172352011241876,
 'more than high school but not college': 0.24588090637625154,
 'college': 0.47974705779026877}

Let's explore the relationship between being fed breastmilk as a child and getting a seasonal influenza vaccine from a healthcare provider. Return a tuple of the average number of influenza vaccines for those children we know received breastmilk as a child and those who know did not.

Example of one variable with another variable with multiple observations.

In [6]:
def average_influenza_doses():
    data = pd.read_csv("NISPUF17.csv")
    data1 = data[["CBF_01","P_NUMFLU"]]
    data1 = data1[data["P_NUMFLU"].notna()]
    total1 = len(data1[data1["CBF_01"]==1])
    total2 = len(data1[data1["CBF_01"]==2])
    gotmilk = data1[data1["CBF_01"]==1]["P_NUMFLU"].sum()
    nogotmilk = data1[data1["CBF_01"]==2]["P_NUMFLU"].sum()
    return (gotmilk/total1,nogotmilk/total2)

In [7]:
average_influenza_doses()

(1.8799187420058687, 1.5963945918878317)

It would be interesting to see if there is any evidence of a link between vaccine effectiveness and sex of the child. Calculate the ratio of the number of children who contracted chickenpox but were vaccinated against it (at least one varicella dose) versus those who were vaccinated but did not contract chicken pox. Return results by sex.

Two observation variable against two observation variable.

In [8]:
def chickenpox_by_sex():
    data = pd.read_csv("NISPUF17.csv")
    dict={}       # setting up a dictionary output
    data = data[data["P_NUMVRC"]>=1]
    data1 = data[data["HAD_CPOX"]==1]
    data2 = data[data["HAD_CPOX"]==2]
    mhcp = len(data1[data1["SEX"]==1])
    mnhcp = len(data2[data2["SEX"]==1])
    fhcp = len(data1[data1["SEX"]==2])
    fnhcp = len(data2[data2["SEX"]==2])
    dict["male"] = mhcp/mnhcp
    dict["female"] = fhcp/fnhcp
    return dict

In [9]:
chickenpox_by_sex()

{'male': 0.009675583380762664, 'female': 0.0077918259335489565}

A correlation is a statistical relationship between two variables. If we wanted to know if vaccines work, we might look at the correlation between the use of the vaccine and whether it results in prevention of the infection or disease [1]. In this question, you are to see if there is a correlation between having had the chicken pox and the number of chickenpox vaccine doses given (varicella).

Correlation function with pearsonr index

In [10]:
def corr_chickenpox():
    import scipy.stats as stats
    import numpy as np
    import pandas as pd
    data = pd.read_csv("NISPUF17.csv")
    data1 = data[["HAD_CPOX","P_NUMVRC"]]
    data1 = data1[data1["HAD_CPOX"]<=3]  # We just want the observation 1 or 2 
    data1 = data1[data1["P_NUMVRC"].notna()]
    corr, pval = stats.pearsonr(data1["HAD_CPOX"],data1["P_NUMVRC"])
    return corr

In [11]:
corr_chickenpox()

0.0704487346014804